<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>








    <application
        android:name="${applicationName}"
        android:label="CareConnect"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/LaunchTheme"
        tools:replace="android:label">

        <!-- Required for Flutter v2 embedding -->


        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />


        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false"/>


        <!-- ✅  Jitsi Meet Activity -->
        <activity
            android:name="org.jitsi.meet.sdk.JitsiMeetActivity"
            android:label="JitsiMeetActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            tools:replace="android:configChanges" />

        <!-- Jitsi Meet ConnectionService override for Android 12+ -->
        <service
            android:name="org.jitsi.meet.sdk.ConnectionService"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE"
            android:exported="false"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>

        <!-- Main Flutter Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/NormalTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
